* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --body-color: #121113;
    --primary-color: #222725;
    --primary-color-light: #e4e6c3;
    --toggle-color: #e4e6c3;
    --text-color: #f7f7f2;
    --ux-color: #549052;
    --bpc-color: #235789;
    --web-color: #c1292e;
    --info-color: #f5d547;

    --tran-02: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.4s ease;
    --tran-05: all 0.5s ease;
}

li {
    list-style: none;
}

body {
    width: 100%;
    box-sizing: border-box;
    background: var(--body-color);
    color: var(--text-color);
    font-family: "Figtree", sans-serif;
}
